# -*- coding: utf-8 -*-
# vim: ft=jinja
{% import_yaml "ejabberd/defaults.yaml" as default_settings %}
{% set ejabberd = salt['pillar.get']('ejabberd', default=default_settings.ejabberd, merge=True)%}
{% set ejabberd_osmap = salt['grains.filter_by']({
    'Debian': {
        'config': {
            'base': '/etc/ejabberd',
            'filename': 'ejabberd.yml',
           },
        'package': 'ejabberd',
    },
    'Gentoo': {
        'config': {
            'base': '/etc/ejabberd',
            'filename': 'ejabberd.yml',
           },
        'package': 'ejabberd',
    },
    'Arch': {
        'config': {
            'base': '/etc/ejabberd',
            'filename': 'ejabberd.yml',
            },
        'package': 'ejabberd',
    },
    'RedHat': {
        'config': {
            'base': '/etc/ejabberd',
            'filename': 'ejabberd.yml',
            },
        'package': 'ejabberd',
    },
    'FreeBSD': {
        'config': {
            'base': '/usr/local/etc/ejabberd',
            'filename': 'ejabberd.yml',
           },
        'package': ['ejabberd'],
    },
    'default': {
        'config': {
            'base': '/etc/ejabberd',
            'filename': 'ejabberd.yml',
           },
        'package': 'ejabberd',
    },
}, default=default) %}

{% do ejabberd.update( ejabberd_osmap ) %}