# -*- coding: utf-8 -*-
# vim: ft=jinja

{% set ejabberd = salt['grains.filter_by']({
    'Debian': {
        'config': {
            'base': '/etc/ejabberd',
            'filename': 'ejabberd.yml',
           },
        'package': 'ejabberd',
    },
    'Gentoo': {
        'config': {
            'base': '/etc/ejabberd',
            'filename': 'ejabberd.yml',
           },
        'package': 'ejabberd',
    },
    'Arch': {
        'config': {
            'base': '/etc/ejabberd',
            'filename': 'ejabberd.yml',
            },
        'package': 'ejabberd',
    },
    'RedHat': {
        'config': {
            'base': '/etc/ejabberd',
            'filename': 'ejabberd.yml',
            },
        'package': 'ejabberd',
    },
    'FreeBSD': {
        'config': {
            'base': '/usr/local/etc/ejabberd',
            'filename': 'ejabberd.yml',
           },
        'package': ['ejabberd'],
    },
    'default': {
        'config': {
            'base': '/etc/ejabberd',
            'filename': 'ejabberd.yml',
           },
        'package': 'ejabberd',
    },
}, merge=salt['pillar.get']('ejabberd:lookup')) %}

{% set ejabberd = salt['pillar.get']('ejabberd', default=defaults['ejabberd'], merge=True) %}
